/* Наши преимущества */
.advantages-section {
  padding-top: 60px;
  @media screen and (min-width: $desktop-break-point) {
    padding-top: 94px;
  }
}
.advantages-list {
  margin: -15px;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $tablet-break-point) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.advantages-list-item {
  width: 100%;
  margin: 15px;
  border-radius: 4px;
  @media screen and (min-width: $tablet-break-point) {
    width: calc((100% - 15px * 4) / 2);
  }
  @media screen and (min-width: $desktop-break-point) {
    width: calc((100% - 15px * 8) / 4);
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  background: #f5f4fa;
  margin-bottom: 30px;
}
.advantages-icon {
  width: 70px;
  height: 70px;
}
.advantages-list {
  img {
    display: block;
  }
}
.advantages-list {
  h3 {
    display: block;
    margin: 0;
    font-weight: 700;
    @include advantages-fonts(1.14);
    text-transform: uppercase;
    color: $title-text-color;
    margin-bottom: 10px;
  }
}

.advantages-list {
  p {
    display: block;
    margin: 0;
    @include advantages-fonts(1.71);
  }
}
