/* Наши преимущества */
.advantages-section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.our-advantages {
  display: flex;
}
.advantages-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.advantages-list {
  li {
    border-radius: 4px;
    width: 270px;
  }
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: #f5f4fa;
  margin-bottom: 30px;
}
.advantages-icon {
  width: 70px;
  height: 70px;
}
.advantages-list {
  img {
    display: block;
  }
}
.advantages-list {
  h3 {
    display: block;
    height: 16px;
    margin: 0;
    font-weight: 700;
    @include advantages-fonts(1.14);
    text-transform: uppercase;
    color: $title-text-color;
    margin-bottom: 10px;
  }
}

.advantages-list {
  p {
    display: block;
    height: 75px;
    margin: 0;
    @include advantages-fonts(1.71);
  }
}
