/* Нижняя строка с контактами */
footer {
  background: #2f303a;
}
.last-section {
  h2 {
    display: none;
  }
}
.last-box {
  display: flex;
  align-items: baseline;
  padding-top: 45px;
  padding-bottom: 28px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
footer {
  .logo-seconf-half {
    color: $secondary-text-color;
  }
}

.address-list {
  margin-top: 8px;
}

.address-list {
  li {
    @extend %footer-adress-font;
    color: $secondary-text-color;
  }
}
.address-list {
  a {
    @extend %footer-adress-font;
    color: rgba(255, 255, 255, 0.6);
    @extend %main-animation;
  }
}
.address-list {
  a {
    &:focus,
    &:hover {
      color: $accent-text-color;
    }
  }
}
.container-join-us {
  margin-left: 69px;
}
.container-join-us {
  .networks {
    margin-bottom: 0px;
  }
}
.offer-to-join-us {
  @extend %footer-subscribe;
}
.container-subscribe {
  display: flex;
  flex-direction: column;
  margin-left: 94px;
}
.secondary-container-subscribe {
  display: flex;
  margin-top: 16px;
}
.offer-to-subscribe {
  @extend %footer-subscribe;
}

.mail-sign {
  font-size: 16px;
  line-height: 0;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: inherit;
  min-width: 358px;
  height: 50px;
}

.subscribe-link {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.06em;
  color: $secondary-text-color;
}
.subscribe-icon {
  margin-left: 10px;
  fill: $secondary-text-color;
}
.container-subscribe-link {
  margin-left: 12px;
  height: 50px;
  min-width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  background-color: $accent-text-color;
  border-radius: 4px;
  @extend %main-animation;
}
.container-subscribe-link {
  &:focus,
  &:hover {
    box-shadow: 4px 4px 4px black;
  }
}

.container-developer {
  height: 60px;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 21px;
}
.developer-information {
  display: block;
  font-size: 12px;
  line-height: 2em;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
}
