.hero-banner {
  width: 100vw;
  height: 400px;
  text-align: center;
  padding-top: 118px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/Header-i);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  display: inline-block;
  max-width: calc(100% - 60px * 2);
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 1.62em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $secondary-text-color;
}
.hero-link {
  min-width: 200px;
  display: inline-block;
  padding: 10px 32px;
  border: transparent;
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.06em;
  color: $secondary-text-color;
  min-height: 50px;
  background: #2196f3;
  @extend %main-animation;
  &:focus,
  &:hover {
    box-shadow: 4px 4px 4px $title-text-color;
  }
}
