.site-nav-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  @media screen and (min-width: $tablet-break-point) {
    flex-direction: row;
  }
}
.site-nav-secondary {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #ececec;
  min-height: 60px;
  @media screen and (min-width: $tablet-break-point) {
    width: auto;
  }
}
.logo {
  margin-left: 15px;
}
.nav-and-contacts {
  @media screen and (min-width: $tablet-break-point) {
    display: flex;
    flex-direction: row;
  }
}
.nav-list {
  text-align: center;
  padding-top: 60px;
  @media screen and (min-width: $tablet-break-point) {
    flex-direction: row;
  }
  @media screen and (min-width: $desktop-break-point) {
    padding-top: 60px;
    margin: 0;
    margin-left: 85px;
  }
}
a:focus,
a:hover {
  color: $accent-text-color;
}

.nav-list-item {
  display: block;
  position: relative;
  @extend %main-animation;
  color: $title-text-color;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16em;
  letter-spacing: 0.02em;
  @media screen and (min-width: $tablet-break-point) {
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02em;
  }
}
.close-menu {
  position: absolute;
  right: 15px;
  @media screen and (min-width: $tablet-break-point) {
    display: none;
  }
}
.open-menu {
  margin-right: 15px;
  @media screen and (min-width: $tablet-break-point) {
    display: none;
  }
}

.nav-list-item {
  text-align: center;
  margin-bottom: 40px;
  &:last-child {
    margin-bottom: 60px;
  }
  @media screen and (min-width: $desktop-break-point) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.current-page {
  display: inline-block;
  position: relative;
  margin-bottom: 52px;
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -8px;
    width: 100%;
    height: 4px;
    background-color: $accent-text-color;
    border-radius: 2px;
  }
}

.contacts-item {
  display: inline-block;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
.our-mail,
.our-mail-icon,
.our-phone,
.our-phone-icon {
  @extend %main-animation;
}

.contacts-item {
  &:hover .our-mail,
  &:hover .our-mail-icon,
  &:focus .our-mail,
  &:focus .our-mail-icon {
    color: $accent-text-color;
    fill: $accent-text-color;
  }
}

.contacts-item {
  &:hover .our-phone,
  &:hover .our-phone-icon,
  &:focus .our-phone,
  &:focus .our-phone-icon {
    color: $accent-text-color;
    fill: $accent-text-color;
  }
}
.our-mail-icon,
.our-phone-icon {
  margin-right: 10px;
  fill: $thirtly-text-color;
}

.contacts {
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .our-mail {
    display: inline-block;
    @extend %nav-font;
    color: $thirtly-text-color;
  }
  .our-phone {
    @extend %nav-font;
    color: $thirtly-text-color;
  }
}
