.our-team-section {
  background: #f5f4fa;
  padding-top: 60px;
  @media screen and (min-width: $desktop-break-point) {
    padding-top: 94px;
  }
}
.our-team {
  text-align: center;
}
.our-team-title {
  @extend %title-h2-font;
}
.our-team-list-container {
  margin-top: 30px;
}
.our-team-list {
  display: flex;
  flex-direction: column;
  margin: -15px;
  @media screen and (min-width: $tablet-break-point) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media screen and (min-width: $desktop-break-point) {
    margin-top: 50px;
  }
}
.our-team-item {
  width: 100%;
  margin: 15px;
  @media screen and (min-width: $tablet-break-point) {
    width: calc((100% - 15px * 4) / 2);
  }
  @media screen and (min-width: $desktop-break-point) {
    width: calc((100% - 15px * 8) / 4);
  }
  // &:not(:first-child) {
  //   margin-left: 30px;
  // }
}
.our-team-item {
  background: $secondary-text-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
.our-team-item {
  h3 {
    margin: 0;
    margin-top: 30px;
    @include our-team-font(500);
    color: $title-text-color;
  }
}
.our-team-list {
  p {
    margin: 0;
    margin-top: 10px;
    @include our-team-font(400);
  }
}
.networks {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 24px;
}
