html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;

  color: #757575;
}

ul,
p,
h1 {
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}

li {
  list-style: none;
}
img {
  display: block;
}

a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
