@mixin advantages-fonts($line-height) {
  font-size: 14px;
  line-height: $line-height;
  letter-spacing: 0.03em;
}
@mixin our-team-font($font-weight) {
  font-weight: $font-weight;
  font-size: 16px;
  line-height: 1.18em;
  letter-spacing: 0.03em;
}
