$title-text-color: #212121;
$secondary-text-color: #ffffff;
$thirtly-text-color: #757575;
$accent-text-color: #2196f3;
$icon-color: #afb1b8;
$card-border-color: #eeeeee;
$mobile-break-point: 480px;
$tablet-break-point: 768px;
$desktop-break-point: 1200px;

/*палитра
основной background: #E5E5E5
background блоков 1: #FFFFFF;
background блоков 2 #F5F4FA
ссылок rgba(47, 48, 58, 0.8);
background футера: #2F303A
background интерактивных элементов: rgba(33, 150, 243, 0.9)*/
/*
цвет основноготекста #757575
Цвет второстепенного текста #FFFFFF
цвет заголовков #212121
цвет 1 логотипа #2196F3;
цыет 2 логотипа #212121
Цвет акцентов #2196F3 */

/*Переменные шрифтов*/
$logo-font: "Raleway", sans-serif;
